@font-face {
    font-family:"Rajdhani";
    src: url(Rajdhani-Light.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family:"Rajdhani";
    src: url(Rajdhani-Regular.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family:"Rajdhani";
    src: url(Rajdhani-Medium.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family:"Rajdhani";
    src: url(Rajdhani-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family:"Rajdhani";
    src: url(Rajdhani-Bold.ttf);
    font-weight: 900;
    font-style: normal;
}