@if (Loaded)
{
    @ChildContent
}
else
{
    <div>Loading screen...</div>
}

@code {
    public bool Loaded { get; private set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(750);
        Loaded = true;
    }
}