@using SolarBlaze.Config
@inherits LayoutComponentBase

@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (InitialSetup != null)
{
    <CascadingValue Value="@InitialSetup">
        <div class="page">
            <div class="sidebar">
                <NavMenu/>
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </CascadingValue>
}
else
{
    <InitialConfiguration Parent="@this" />
}

@code
{
    public InitialSetup? InitialSetup { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        InitialSetup = await GetInitialSetup();

        await base.OnInitializedAsync();
    }

    public async Task Refresh()
    {
        InitialSetup = await GetInitialSetup();
        StateHasChanged();
    }

    private async Task<InitialSetup?> GetInitialSetup()
    {
        return await localStorage.GetItemAsync<InitialSetup>("InitialSetup");
    }
}
