<ul>
    @foreach (var item in Messages)
    {
        <li class="TextLogItem">@item</li>
    }
</ul>

@code
{
    private List<string> _log = new();
    public IReadOnlyList<string> Messages => _log;

    public void Log(string message, int? replace = null)
    {
        if (replace.HasValue)
            _log[_log.Count + replace.Value] = message;
        else
            _log.Add(message);
        StateHasChanged();
    }

    public void Remove(Range range)
    {
        var start = range.Start.GetOffset(_log.Count);
        var end = range.End.GetOffset(_log.Count);
        _log.RemoveRange(start, end - start);
    }

    public void Remove(Index index)
    {
        var idx = index.GetOffset(_log.Count);
        _log.RemoveAt(idx);
    }

    public void Clear()
    {
        _log.Clear();
        _log.TrimExcess();
        StateHasChanged();
    }
}
