/* Add the "cyberpunk" class to style all descendant elements */

/* Define core colors */
:root {
    /* Three main accent colours */
    --cyberpunk-color-main: rgb(248, 46, 27);
    --cyberpunk-color-contrast: rgb(46, 248, 27);
    --cyberpunk-color-neon: rgb(249, 240, 2);

    /* Shades of grey */
    --cyberpunk-color-black: rgb(1, 1, 11);
    --cyberpunk-color-off-black: rgb(11, 1, 1);
    --cyberpunk-color-grey: rgb(22, 22, 44);
    --cyberpunk-color-light-grey: rgb(66, 66, 88);
    --cyberpunk-color-white: rgb(250, 245, 240);

    /* Semantics Colours */
    --cyberpunk-color-invalid: rgb(248, 46, 27);
    --cyberpunk-color-valid: rgb(46, 248, 27);
}

/* Main Body */
body.cyberpunk {
    background-color: var(--cyberpunk-color-black);
    background: linear-gradient(-15deg, var(--cyberpunk-color-black), var(--cyberpunk-color-off-black));
    background-attachment: fixed;
    background-blend-mode: normal;
}

/* Fonts */
.cyberpunk {
    font-family: Rajdhani, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Headers */
.cyberpunk h1,
.cyberpunk h2,
.cyberpunk h3,
.cyberpunk h4 {
    font-size: 2rem;
    font-family: ChakraPetch, Rajdhani, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 2.2rem;
    font-weight: 200;
    position: relative;
    padding-bottom: 15px;
    padding-left: 1em;
    padding-top: 1em;
    user-select: none;
}

.cyberpunk h2 {
    font-size: 1.7rem;
    line-height: 1.9rem;
    font-weight: 300;
}

.cyberpunk h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.cyberpunk h4 {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;
}

.cyberpunk h1:after,
.cyberpunk h2:after,
.cyberpunk h3:after,
.cyberpunk h4:after {
    content: "_";
}

/* Page Break */
.cyberpunk hr {
    background: none;
    height: 10px;
    width: 100%;
    border: none;
    opacity: 1;
    border-top: 1px solid var(--cyberpunk-color-main);
}

.cyberpunk hr:before {
    content: "";
    width:100%;
    height:100%;
    background-color: var(--cyberpunk-color-main);
    display: block;
    clip-path: polygon(
        6px 10px, 12px 10px, 12px 4px, 6px 4px, 6px 10px, 
        18px 10px, 18px 4px, 24px 4px, 24px 10px, 18px 10px,
        30px 10px, 30px 4px, 36px 4px, 36px 10px, 30px 10px
    );
}

.cyberpunk hr.alternative {
    height: 10px;
    background-color: var(--cyberpunk-color-main);
    clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
    
    width: 100%;
    border: none;
    opacity: 1;
}

.cyberpunk hr.alternative:before {
    display: none;
}

/* Form */
.cyberpunk input {
    background-color: var(--cyberpunk-color-grey);
    border: none;
    color: var(--cyberpunk-color-white);
}

.cyberpunk input:focus {
    background-color: var(--cyberpunk-color-light-grey);
    border: 1px solid var(--cyberpunk-color-neon);
    color: var(--cyberpunk-color-white);
}

.cyberpunk input.invalid {
    border-right: 2px solid var(--cyberpunk-color-invalid);
}

.cyberpunk input.valid {
    border-right: 2px solid var(--cyberpunk-color-valid);
}

.cyberpunk input:disabled {
    background-color: var(--cyberpunk-color-grey);
    border: none;
    color: var(--cyberpunk-color-white);
}

/* Button */
.cyberpunk button {
    display: block;
    border: none;
    border-radius: 0%;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 35px;
    position: relative;
    color: #fff;
    border-right: 3px solid var(--cyberpunk-color-contrast);
    clip-path: polygon( -1em 0%, calc(100% + 1em) 0%, calc(100% + 1em) 100%, 1em 100%, -1em calc(100% - 2em) );
    cursor: pointer;
    background-color: var(--cyberpunk-color-main);
    outline: none;
}

.cyberpunk button:after {
    content: "BTN";
    display: block;
    position: absolute;
    bottom: 0px;
    right: 25px;
    padding: 2px 2px 0px 2px;
    font-size: 0.6rem;
    line-height: 9px;
    color: #000;
    background-color: #f9f002;
    border-left: 2px solid var(--cyberpunk-color-contrast);
}

.cyberpunk button:before {
    --outside: 6px;
    content: "";
    position: absolute;
    display: none;
    background-color: var(--cyberpunk-color-main);
    width: calc(100% + (var(--outside) * 2));
    height: 12px;
    top: 0px;
    left: calc(0px - 1px - var(--outside));
    border-left: 2px solid var(--cyberpunk-color-contrast);
    border-right: 2px solid var(--cyberpunk-color-contrast);
}

.cyberpunk button:hover:before {
    display: block;
}