/* Add the "cyberpunk" class to style all descendant elements */

/* Define core colors */
:root {
    --cyberpunk-main-color: rgb(248, 46, 27);
    --cyberpunk-contrast-color: rgb(46, 248, 27);
    --cyberpunk-neon-color: rgb(249, 240, 2);
    --cyberpunk-black-color: rgb(1, 1, 11);
    --cyberpunk-off-black-color: rgb(11, 1, 1);
}

/* Main Body */
body.cyberpunk {
    background-color: var(--cyberpunk-black-color);
    background: linear-gradient(-15deg, var(--cyberpunk-black-color), var(--cyberpunk-off-black-color));
    background-attachment: fixed;
    background-blend-mode: normal;
}

/* Fonts */
.cyberpunk {
    font-family: Rajdhani, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Headers */
.cyberpunk h1,
.cyberpunk h2,
.cyberpunk h3,
.cyberpunk h4 {
    font-size: 2rem;
    font-family: ChakraPetch, Rajdhani, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 2.2rem;
    font-weight: 200;
    position: relative;
    padding-bottom: 15px;
    padding-left: 1em;
    padding-top: 1em;
    user-select: none;
}

.cyberpunk h2 {
    font-size: 1.7rem;
    line-height: 1.9rem;
    font-weight: 300;
}

.cyberpunk h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.cyberpunk h4 {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;
}

.cyberpunk h1:after,
.cyberpunk h2:after,
.cyberpunk h3:after,
.cyberpunk h4:after {
    content: "_";
}

/* Page Break */
.cyberpunk hr {
    height: 10px;
    background-color: var(--cyberpunk-main-color);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    width: 100%;
    border: none;
    opacity: 1;
    border-left: 2px solid var(--cyberpunk-contrast-color)
}

.cyberpunk hr.alternative {
    height: 10px;
    background-color: var(--cyberpunk-main-color);
    clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
    width: 100%;
    border: none;
    opacity: 1;
}